* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: monospace;
}
:root {
  --accent: #00a1a1;
  --sec: #00c1c1;
  --pri: #00f1f1;
  --opp: #ff3e3e;
}
@media screen and (max-width: 600px) {
  * {
    font-size: 0.75rem;
  }
}
.links {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  display: absolute;
  padding: 0;
  margin: 2rem 0;
}
.link {
  display: flex;
  padding: 0.25rem;
  flex-grow: 1;
  justify-content: center;
  border-left: 1px solid var(--accent);
}
.link:first-child {
  border-left: none;
}
svg {
  fill: var(--accent);
  filter: drop-shadow(0.05rem 0.05rem 0.25rem var(--opp));
  cursor: pointer;
}
.btn {
  color: var(--opp);
  background: var(--pri);
  border: 0.15rem solid var(--accent);
  padding: 0.15rem 0.5rem;
  border-radius: 0.5rem;
  margin: 1rem;
  cursor: pointer;
}
.hide {
  display: none;
  visibility: hidden;
}
.info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  color: var(--pri);
  background: var(--opp);
}
.info svg {
  cursor: default;
  margin: 1rem 0.5rem;
}
.link:hover::after {
  border: 0.05rem solid var(--opp);
  position: absolute;
  padding: 0.35rem;
  opacity: 0.9;
  top: 20%;
  border-radius: 1rem;
  background: var(--sec);
  color: var(--opp);
  content: "";
}
.portfolio:hover::after {
  content: "portfolio";
}
.twitter:hover::after {
  content: "twitter";
}
.github:hover::after {
  content: "github";
}
.mail:hover::after {
  content: "mail";
}
